<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.artimanton.infovesele">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.artimanton.infoVesele"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="info_vesele.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.artimanton" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TransportActivity" />
        <activity
            android:name=".activity.all_transport.Train"
            android:label="@string/title_activity_train"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.all_transport.BusAdd"
            android:label="@string/title_activity_tr_bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.all_transport.BusZpRead_FireBase"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.all_transport.BusMelitopolRead"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.all_transport.BusZpReadBack_FireBase"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.all_transport.BusMelitopolReadBack"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.all_transport.BusCity" />
        <activity
            android:name=".activity.all_transport.TaxiRead_FireBase"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivityTwo" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.AdvertVeseleActivity" />
        <activity android:name=".activity.all_transport.DeliveryService" />
        <activity android:name=".activity.ServicesActivity" />
        <activity android:name=".activity.all_services.RepairsActivity"></activity>
    </application>

</manifest>